.desk{
    border: 1px;
    width: 640px;
    height: 640px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: antiquewhite;
   
    
}
.kv{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    background-color: aqua;

}
.fk{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}